.spca-logo{
    width: 185px;
    height: 300px;
    float:left;
    margin-right: 2em;
    margin-top: 0 !important;
}
.spca-information{
    width: 95vw;
}
.spca-information-text{
    float: left;
    display: flex;
    flex-direction: column;
}
.form-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.record-information{
    float:right;
    background-color: #f1f1f3;
    color: black;
    display: flex;
    flex-direction: column;
    width: 25vw;
}
.form-container{
    background-color: #f1f1f3;
    color: black !important;
}
.pet-information{
    margin-top: 18em;
    background-color: #f1f1f3; 
}
.full-width{
    width: 100%;
}
.header-label{
    color: #343896;
    font-size: 3.5em;
    font-weight: bold;
}
.gender-radio{
    margin-left: 20px;
}
.vaccination-records{
    width: 50%;
    background-color: #f1f1f3;
    font-size: .75em !important;
    margin-top: .5em;
}

.mat-checkbox{
    margin-left: 15px !important;
}